:root {
  --background-color: hsl(210, 30%, 7%);
  --background-color-accent: hsl(210, 30%, 30%);
  --text-color: hsl(150, 30%, 92%);
  --accent-color: hsl(210, 100%, 72%);
  --navbar-height: 60px;
  --navbar-padding: 7.5px;
}

@media only screen and (max-width: 600px) {
  :root {
    --navbar-height: 80px;
    --navbar-padding: 10px;
  }
  h1 {
    text-align: center;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 150%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px;
  margin-top: calc(var(--navbar-height) + 20px);
}

a,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

.recipe-list {
  font-size: 1.5em;
  line-height: 200%;
  list-style: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: var(--navbar-padding);
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  --text-size: calc(var(--navbar-height) - calc(var(--navbar-padding) * 2));
  background-color: var(--background-color-accent);
  line-height: var(--text-size);
  height: var(--navbar-height);
  font-size: var(--text-size);
  box-sizing: border-box;
}

.navbar li {
  color: var(--text-color);
}

.navbar .home {
  cursor: pointer;
}
